//output:main.html
include bemto/bemto
mixin layout(name)
  +b()(class=name+" __"+name,ng-if="state.stage=='"+name+"'")
    block
  
doctype
html
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible",content="ie=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    style(type="text/css")
      include main.css
  body(ng-app="oAccount")
    +b.container(ng-controller="oOutcomes as ctl")
      +b.layout
        +layout("categories")
          +b.BUTTON.category.__category(ng-repeat="(catId,category) in categories",ng-bind="category.name",ng-style="category.style",ng-click="state.category=catId;state.stage='fields'") Category
        +layout("fields")
          +e.INPUT.sum(type="number",min="0",step="0.01",ng-model="state.sum") 
          +b.INPUT.btn.__btn(type="button",value="PREV",ng-click="state.stage='categories'")
          +e.INPUT.btn(type="button",value="NEXT",ng-click="state.stage='additionals'")
        +layout("additionals")
          +b.INPUT.btn.__btn(type="button",value="BEGIN",ng-click="state.stage='categories'")
    +b.shutter(ng-hide="loaded")
      +e.SPAN.message Loading...
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-animate.js")
    script(type="text/javascript")
      include main.js
      
