//out: ./main.css, compress:false, sourcemap:false, nib:false

html
  width 100%
  height 100%
  margin 0
  padding 0
  color white
  font normal normal 600 12pt/1 Arial
  box-sizing border-box
body
  @extend html
  background linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0,linear-gradient(27deg, #222 5px, transparent 5px) 0 10px,linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,linear-gradient(90deg, #1b1b1b 10px, transparent 10px),linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color #131313
  background-size 20px 20px
  >*
    box-sizing border-box

.layout
  width 100%
  height 100%
  oveflow hidden
  &__categories
    width 100%
    height 100%
    &.ng-animate
      transition all linear 0.7s
    &.ng-hide-add-active
      margin-top:-100%
      
  &__fields
    width 100%
    height 100%


.categories
  display flex
  overflow-x hidden
  overflow-y auto
  flex-flow row wrap
  justify-content space-around
  align-items flex-start
  align-content flex-start
  &__category
    flex 0 0 120px
.category
  width 120px
  height 128px
  border 1px solid white
.shutter
  width 100%
  height 100%
  position absolute
  text-align center
  background-color black
  &:before
    display inline-block
    content ""
    line-height 100%
    height 100%
    vertical-align middle
  &__message
    vertical-align middle
