//out: ./main.css, compress:false, sourcemap:false, nib:false
html
  width 100%
  height 100%
  margin 0
  padding 0
  color white
  font normal normal 600 12pt/1 Arial
  box-sizing border-box
  overflow hidden
body
  @extend html
  background linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0,linear-gradient(27deg, #222 5px, transparent 5px) 0 10px,linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,linear-gradient(90deg, #1b1b1b 10px, transparent 10px),linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color #131313
  background-size 20px 20px
  >*
    box-sizing border-box
.container
  @extend html
  background-image radial-gradient(150% 100%, transparent, #000)

/*independent blocks*/

.categories
  display flex
  overflow-x hidden
  overflow-y auto
  flex-flow row wrap
  justify-content space-around
  align-items center
  align-content center
  &__category
    flex 0 0 120px
.category
  width 120px
  height 128px
  border 1px solid white

.shutter
  width 100%
  height 100%
  position absolute
  text-align center
  background-color black
  &:before
    display inline-block
    content ""
    line-height 100%
    height 100%
    vertical-align middle
  &__message
    vertical-align middle

/*layout and elements */
@keyframes layout-enter
  0%
    opacity 0
  100%
    opacity 1


@keyframes layout-leave
  0%
    opacity 1
  100%
    opacity 0

@keyframes layout-enter1
  0%
    height 0%
  100%
    height 100%

@keyframes layout-leave1
  0%
    height 100%
  100%
    height 0%

.full-width
  width 100%
  height 100%
  opacity 1
  position relative
.layout
  width 100%
  height 100%
  for item,i in categories fields additionals
    &__{item}
      @extend .full-width
    &__{item}.ng-enter
      opacity 1
      animation layout-enter 0.3s,layout-enter1 0.5s
    &__{item}.ng-leave
      opacity 0
      animation layout-leave 0.3s,layout-leave1 0.5s
