//out: ./main.css, compress:false, sourcemap:false, nib:false
html
  width 100%
  height 100%
  margin 0
  padding 0
  box-sizing border-box
  overflow hidden
body
  @extend html
  background-size 20px 20px

/*independent blocks*/

.categories
  display flex
  flex-flow row wrap
  justify-content center
  align-items center
  align-content center
  &__category
    flex 0 0 150px
    width 150px
    margin 1rem 1rem
    >.mdl-card__title
      height 140px
      background-position 50% 0%
      background-repeat no-repeat
    .mdl-card__title-text
      background-color rgba(194, 236, 32, 0.58)
      border-radius 5px
      padding-left 0.4em
      padding-right 0.4em
      white-space nowrap
      font-size 15px
    .mdl-button
      min-width 4.2em
      padding 0 0.4em
      margin-left 0.4em


.category
  &__spend
    float right
  &__clear
    float right

.prop
  border-radius 5px
  background-color #D7E0E0
  padding-left 0.4em
  font-family 'Roboto'
  display inline
  &__name
    font-weight 300
    padding-right 0.4em
    vertical-align middle
  &__value
    background-color rgb(236, 43, 88)
    vertical-align middle
    color white
    border-radius: 50%
    display inline-block
    line-height 0
    box-sizing border-box
    font-weight 600
    width: 2.2em
    height: 2.2em
    text-align center
    padding 1.1em 0
    &\&&_big
      width: 3em
      height: 3em
      padding 1.5em 0

.drawer
  position fixed
  padding 0.4rem 1rem 0.8rem 1rem
  background-color white
  box-sizing border-box
  z-index 2
  top 0
  left 0
  width 100%
  display flex
  flex-flow row wrap
  align-items flex-start
  align-content flex-start
  transition top 0.7s
  &__props
    flex 1 1 auto
  &__controls
    flex 1 1 auto
    text-align center
    white-space nowrap


.shutter
  width 100%
  height 100%
  position absolute
  top 0
  left 0
  text-align center
  background-color black
  z-index 9
  &:before
    display inline-block
    content ""
    line-height 100%
    height 100%
    vertical-align middle
  &__message
    display inline-block
    vertical-align middle

.message
  &__text
    color white
    &\&&_error
      color red
      &:before
        content "err:"
        display inline
        background-color red
        color black
        border-radius 4px
        padding 0.2em 0.4em
        margin-right 0.4em

/*layout and elements */
@keyframes layout-enter
  0%
    opacity 0
  100%
    opacity 1


@keyframes layout-leave
  0%
    opacity 1
  100%
    opacity 0

@keyframes layout-enter1
  0%
    height 0%
  100%
    height 100%

@keyframes layout-leave1
  0%
    height 100%
  100%
    height 0%

.full-width
  width 100%
  opacity 1
  position relative
.layout
  @extend html
  overflow-y auto
  for item,i in categories fields additionals
    &__{item}
      @extend .full-width
    &__{item}.ng-enter
      opacity 1
      animation layout-enter 0.3s,layout-enter1 0.5s
    &__{item}.ng-leave
      opacity 0
      animation layout-leave 0.3s,layout-leave1 0.5s
