.ng-hide:not(.ng-hide-animate) {
  display: none !important;
}
html,
body,
.workarea,
.layout {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
body {
  background-size: 20px 20px;
}
/*independent blocks*/
.categories {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.categories__category {
  flex: 0 0 150px;
  width: 150px;
  margin: 1rem 1rem;
}
.categories__category >.mdl-card__supporting-text {
  padding: 0 16px;
}
.categories__category >.mdl-card__title {
  height: 140px;
  background-position: 50% 0%;
  background-repeat: no-repeat;
}
.categories__category .mdl-card__title-text {
  background-color: rgba(194,236,32,0.58);
  border-radius: 5px;
  padding-left: 0.4em;
  padding-right: 0.4em;
  white-space: nowrap;
  font-size: 15px;
}
.categories__category .mdl-button {
  min-width: 4.2em;
  padding: 0 0.4em;
  margin-left: 0.4em;
}
.category__spend {
  float: right;
}
.category__clear {
  float: right;
}
.category__current {
  float: right;
}
.prop {
  font-family: 'Roboto';
  display: inline;
  white-space: nowrap;
  line-height: 1.6;
}
.prop__name {
  font-weight: 300;
  padding: 0 0.8em 0 0.4em;
  vertical-align: middle;
  border-radius: 5px;
  background-color: #d7e0e0;
  margin-right: -0.4em;
}
.prop__value {
  background-color: #5a5a5a;
  vertical-align: middle;
  color: #fff;
  border-radius: 5px;
  display: inline;
  box-sizing: border-box;
  font-weight: 500;
  text-align: center;
  padding: 0.1em 0.3em;
}
.prop__value.prop__value_big-green,
.prop__value.prop__value_big-red {
  padding: 0.2em 0.4em;
  border-radius: 10px;
}
.prop__value.prop__value_green,
.prop__value.prop__value_big-green {
  background-color: #5fa347;
}
.prop__value.prop__value_red,
.prop__value.prop__value_big-red {
  background-color: #ec2b58;
}
.drawer {
  position: fixed;
  padding: 0.4rem 1rem 0.8rem 1rem;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  align-content: flex-start;
/*transition top 0.7s*/
}
.drawer__props {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}
.drawer__props >.prop {
  flex: 0 0 auto;
  margin-top: 0.2em;
}
.drawer__controls {
  flex: 1 1 auto;
  text-align: center;
  white-space: nowrap;
}
.shutter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  background-color: #000;
  z-index: 9;
  box-sizing: border-box;
}
.shutter:before {
  display: inline-block;
  content: "";
  line-height: 100%;
  height: 100%;
  vertical-align: middle;
}
.shutter.shutter_modal {
  background-color: rgba(0,0,0,0.64);
  padding: 1em;
}
.shutter.shutter_modal:before {
  display: none;
}
.shutter__message {
  display: inline-block;
  vertical-align: middle;
}
.modal {
  box-sizing: border-box;
  min-width: 300px;
  max-width: 100%;
  margin: 0 auto;
  background-color: #e6e4e0;
  padding-bottom: 0.8em;
  max-height: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}
.modal__title {
  flex: 0 0 29px;
  padding: 0.2em;
  background-color: #3f51b5;
  color: #fff;
  font: normal normal 300 16pt/1 "Roboto";
  box-sizing: border-box;
}
.modal__body {
  flex: 1 1 auto;
  margin: 0.8em 0;
  overflow-x: hidden;
  overflow-y: auto;
}
.modal__controls {
  flex: 0 0 36px;
  box-sizing: border-box;
}
.contractors {
  margin-left: -0.4em;
}
.contractors__contractor {
  background-color: #fff;
  border: none;
  width: 47%;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 0 0.4em 0.4em;
  text-align: left;
  padding: 0.4em;
  min-width: 285px;
  max-width: 370px;
  font: normal normal 300 16pt/1 "Roboto";
  border-radius: 4px;
}
.contractor__image {
  width: 50%;
  padding-bottom: 30%;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  max-width: 120px;
  vertical-align: top;
}
.contractor__content {
  display: inline-block;
  vertical-align: top;
}
.contractor__title {
  background-color: rgba(194,236,32,0.58);
  border-radius: 5px;
  padding-left: 0.4em;
  padding-right: 0.4em;
  white-space: nowrap;
}
.contractor__data {
  margin-top: 1em;
  font: normal normal 600 20pt/1 "Roboto";
}
.message__text {
  color: #fff;
}
.message__text.message__text_error {
  color: #f00;
}
.message__text.message__text_error:before {
  content: "err:";
  display: inline;
  background-color: #f00;
  color: #000;
  border-radius: 4px;
  padding: 0.2em 0.4em;
  margin-right: 0.4em;
}
.message__controls {
  display: block;
  margin-top: 1em;
}
/*layout and elements */
.workarea {
  padding-top: 50px;
}
.workarea__controls {
  margin-top: -50px;
  height: 50px;
  overflow-y: hidden;
  overflow-x: auto;
  box-sizing: border-box;
  border-bottom: 1px solid #efefef;
  padding: 4px 0;
}
.workarea__control {
  margin: 0 0.4em;
  color: #fff;
}
.full-width,
.layout__categories,
.layout__fields,
.layout__additionals {
  width: 100%;
  opacity: 1;
  position: relative;
}
.layout {
  overflow-y: auto;
}
.layout__categories.ng-enter {
  opacity: 1;
  animation: layout-enter 0.3s, layout-enter1 0.5s;
}
.layout__categories.ng-leave {
  opacity: 0;
  animation: layout-leave 0.3s, layout-leave1 0.5s;
}
.layout__fields.ng-enter {
  opacity: 1;
  animation: layout-enter 0.3s, layout-enter1 0.5s;
}
.layout__fields.ng-leave {
  opacity: 0;
  animation: layout-leave 0.3s, layout-leave1 0.5s;
}
.layout__additionals.ng-enter {
  opacity: 1;
  animation: layout-enter 0.3s, layout-enter1 0.5s;
}
.layout__additionals.ng-leave {
  opacity: 0;
  animation: layout-leave 0.3s, layout-leave1 0.5s;
}
@-moz-keyframes layout-enter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes layout-enter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes layout-enter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes layout-enter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes layout-leave {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes layout-leave {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes layout-leave {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes layout-leave {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes layout-enter1 {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}
@-webkit-keyframes layout-enter1 {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}
@-o-keyframes layout-enter1 {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}
@keyframes layout-enter1 {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}
@-moz-keyframes layout-leave1 {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@-webkit-keyframes layout-leave1 {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@-o-keyframes layout-leave1 {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@keyframes layout-leave1 {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
